<!DOCTYPE html>
<html>
<head>
	<title>Anagram Checker</title>
</head>
<body>
 <form action = "." method = "POST">
    <div>
        <label for="str1">Enter string 1:</label>
        <input type="text" name="str1" value={{str1}}><br>
    </div>
    <div>
        <label for="str2">Enter string 2:</label>
        <input type="text" name="str2" value={{str2}}><br>
    </div>
    <div class="button">
        <button type="submit">Compare</button>
    </div>
  </form>
   <p>Are they anagrams? {{AreAnagrams}}</p>
</body>
</html>
