<!DOCTYPE html>
<html>
<head>
    <title>Anagram Checker</title>
</head>
<body style="background-color: #29A8E5;">
 <h1 style="text-align: center;font:2em Verdana,sans-serif; color: white;">Anagram Checker</h1>
 <h2 style="text-align: center;font:2em Verdana,sans-serif;color: lightgrey;">by Chumeng Xu</h2>
 <form action = "." method = "POST" style="text-align: center;font: 2em Verdana,sans-serif;">
    <div>
        <label for="str1">Enter string 1:</label>
        <input type="text" name="str1" value={{str1}}><br>
    </div>
    <div>
        <label for="str2">Enter string 2:</label>
        <input type="text" name="str2" value={{str2}}><br>
    </div>
    <div class="button">
        <button type="submit">Compare</button>
    </div>
  </form>
   <p style="text-align: center;font: 2em Verdana,sans-serif;color: white;">Are they anagrams?</p>
    <p id="output" style="text-align: center;font: 2em Verdana,sans-serif;color: red;"> {{AreAnagrams}}</p>
</body>
</html>
